.container {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 4px;
}

.icon svg {
  width: 16px;
  height: 16px;
  fill: #F2F4F7;
  stroke: #F2F4F7;
}

.active svg {
  fill: #FFC531;
  stroke: #FFC531;
}
