/* src/components/Buttons/ButtonFavorite/ButtonFavorite.module.css */
.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    height: 24px;
}

.button svg {
    stroke: black;
    fill: none;
    width: 24px;
    height: 24px;
}

.pressed svg,
.button:hover svg {
    fill: #E44848;
    stroke: #E44848;
}