/* src/components/Buttons/ButtonFavorite/ButtonFavorite.module.css */
.button-favorite {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.button-favorite.active {
    color: red;
}