/* src/components/Buttons/ButtonFavorite/ButtonFavorite.module.css */
.buttonFavorite {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.buttonFavorite.active {
    color: red;
}