.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 8px 0;
}

.subtitle {
  color: #475467;
  line-height: 1.5;
  margin: 0 0 24px 0;
}

.input,
.textarea {
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 18px;
  border: none;
}

.textarea {
  resize: none;
  min-height: 114px;
}