/* src/components/Card/CardLocation/CardLocation.module.css */
.container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.container svg {
    width: 16px;
    height: 16px;
    stroke: #101828;
}

.location {
    line-height: 1.5;
    margin: 0;
}