/* src/components/Category/Category.module.css */

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #F2F4F7;
  border-radius: 40px;
  align-self: baseline;
}

.item svg {
  width: 20px;
  height: 20px;
}

.label {
  margin: 0;
  line-height: 1.25;
  text-transform: capitalize;
}