/* src/components/Buttons/ButtonClose/ButtonClose.module.css */
.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    height: 32px;
}

.button svg {
    stroke: black;
    fill: none;
    width: 32px;
    height: 32px;
}