/* src/components/ServicesList/ServicesList.module.css */
.services {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;

}

.services h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.services__item {
    flex: 1 1 calc(33.333% - 20px);
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.services__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services__icon {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.services__description {
    font-size: 1rem;
    color: #555;
}