/* src/components/Card/CardDescription/CardDescription.module.css */
.description {
    line-height: 1.5;
    color: #475467;
    margin: 24px 0;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}